/* top-nav */

#nav_pill > li {
  float: left;
  position: relative;
}
#navbar_light1 #nav_pill .active a::after {
  border-bottom: 3px solid #17252A;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

/* sub-nav */
#pills-tab > li {
float: left;
position: relative;
}
#navbar_light2 .nav .active a::after {
border-bottom: 3px solid #41B3A3;
bottom: -2px;
content: " ";
left: 0;
position: absolute;
right: 0;
}

.custom-text-color {
  color: #41B3A3;
}

.custom-background-color{
  background-color: #41B3A3;
}

/* /dog index edit and delete btn hover */
.dog_btn:hover{
  background-color: #2B7A78;
}

/*.create_btn:hover{
  color: white;
  background-color: #41B3A3;
}*/

/* medical records table */



